@model IEnumerable<IterfataUtilizator.Models.MasinaMVC>
@{
    ViewBag.Title = "AfisareMasini";
}

<h2>AfisareMasini</h2>

<p>
    @Html.ActionLink("Adauga Masina","AdaugaMasina1")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CIV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.An))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motorizare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Culoare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Putere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapacitateCilindrica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stare)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td >
            @Html.DisplayFor(modelItem => item.CIV)
  
        </td >
        <td >
            @Html.DisplayFor(modelItem => item.Tip)
        </td >
        <td >
            @Html.DisplayFor(modelItem => item.Marca)
        </td >
        <td >
            @Html.DisplayFor(modelItem => item.An)
        </td >
        <td >
            @Html.DisplayFor(modelItem => item.Kilometraj)
        </td >
        <td>
        @Html.DisplayFor(modelItem => item.Descriere)
        </td >
        <td>
        @Html.DisplayFor(modelItem => item.Motorizare)
        </td >
        <td >
        @Html.DisplayFor(modelItem => item.Culoare)
        </td >
        <td >
        @Html.DisplayFor(modelItem => item.Putere)
        </td >
        <td >
        @Html.DisplayFor(modelItem => item.CapacitateCilindrica)
        </td >
        <td>
            @Html.DisplayFor(modelItem => item.Stare)
        </td>
        <td >
            @Html.ActionLink("Delete", "Delete", new { @class = "linkStyle", CIV = item.CIV.ToString() }) |
            @Html.ActionLink("Rezerva", "Rezerva", new { @class = "linkStyle", CIV = item.CIV.ToString() }) |
            @Html.ActionLink("Cumpara", "Cumpara", new { @class = "linkStyle", CIV = item.CIV.ToString() })
        </td >
    </tr >
}

</table>
